/* Box Model Hack */
* {
     box-sizing: border-box;
     color: white;
     font-size: 16px;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/


body {
     background:rgb(62, 75, 88);

}

/******************************************
/* LAYOUT
/*******************************************/



header {
     width: 100vw;
     height: 50px;
     position:fixed;
     top:0;
}
header, #top {
     background: black;
}
nav li {
     float: left;
     list-style: none;
}
nav li:first-child {
     padding-right: 100px;
     padding-left: 50px;
}
nav li:nth-child(2) {
     margin-left: 200px;
}
nav li:last-child {
     margin-left: 350px;
}
nav li a {
     padding-left: 50px;
     text-decoration: none; 
     font-size: 1em;
}
nav li a:hover {
     text-decoration: underline white;
     line-height:30px;
}


/*-------------------Top Section-------------------------*/


#top {
     background-image:url(/images/dark-skull.jpg);
     width: 100%;
     height:600px;
     background-repeat: no-repeat;
     background-size:300px;
     background-position-x: right;
     border-bottom: 2px solid black;
     border-bottom-left-radius: 70%;
     border-bottom-right-radius: 15%;
     
}
#top h1, p {
     font-size: 4em;
     padding-left:900px;
}
#top h1 {
     padding-top:105px;
     margin-bottom:0px;
}
#top p {
     font-size: 24px;
     margin-bottom:50px;
}
#top a {
     text-decoration: none;
     font-size: 1em;
     border: 2px solid white;
     border-radius: 20%;
     padding: 15px;
}
#top a:hover {
     box-shadow:2px 2px 0px black;
     padding:20px;
}
a.services {
     margin-left:900px;
}
section.square {
     background: rgba(0, 0, 0, .55);
     width: 22%;
     height: 320px;
     padding: 30px;
     margin: 90px 0 0 300px ;
     border: 5px solid black;
     border-left:2px solid black;
     border-top: 2px solid black;
     border-radius: 15% 15% 15% 15%;
     box-shadow: 5px 10px 5px rgba(128, 128, 128, 0.541);
}
span.visit {
     font-size: 2.5em;
}
span.percentage {
     font-size: 3em ;
}
h2.description {
     font-size:1em;
     margin-top:40px;
     margin-bottom:40px;
}
span.original {
     padding-right:30px;
}


/*-------------------List Section--------------------------*/


section#list {
     height: 500px;
     width: 100%;
}
section#list section {
     float: left;
     list-style: none;
     width: 33.3333%;
     height: 550px;
     margin-top: 17px;
}
section#list a:hover{
     padding-left: 5px;
     padding-right: 5px;
}
section.one span, section.two span, section.three span {
     font-size: 1.5em;
}
section.one span, section.two span {
     line-height: 84px;
}
section.one span {
     margin-left: 120px;
}
section.two span {
     margin-left: 80px;
}
section.three span {
     margin-left: 170px;
     line-height: 90px;
}

.fa-solid {
     font-size:20em;
}
img.shop, img.machine {
     margin-top: 105px;
     border: 1px solid black;
     border-radius: 15% 15% 30% 30%;
}
img.shop, img.chair, img.machine {
     box-shadow: 5px 10px 5px rgba(128, 128, 128, 0.541);
}
img.shop {
     width:auto;
     height: 280px;
     margin-top: 160px;
}
img.chair  {
     height: 400px;
     width: auto;
     margin-left: 126px;
     border: 2px solid black;
     border-radius: 15% 15% 30% 30%;
     margin-top: 47px;
}
img.machine {
     margin-left: 44px;
}



/*---------------------------ABOUT---------------------------*/

section#about {
     clear: both;
     width: 100%;
     height: 450px;
     margin-top: 100px;
     background: black;
}
#about p {
     font-size: 2em;
}
#about iframe {
     float: left;
}
#about iframe {
     margin-top: 80px;
     margin-left: 170px;
}
#about h2 {
     font-size: 2em;
     margin-left: 800px;
     padding-top: 100px;
}
#about p {
     margin-left: -100px;
     padding-right: 400px;
}


/*----------------ARTISTS----------------------------*/

section#artists {
     clear: both;
     width: 100%;
     height: 900px;
     margin-top: 50px;
     margin-bottom: -80px;
}
section#artists section {
     float: left;
}
section#artists span {
     font-size: 1.5em;
}
div {
     border: 2px solid black;
     width: 50%;
     padding-bottom: 18px;
     background: black;
     margin-top: -70px;
}
div h3 {
     font-size: 2em;
     margin-bottom: 18px;
     margin-top: 18px;
}
.hardy, .von, .campbell {
     font-size: 1.2em;
     text-align: center;
     margin-left: 150px;
     margin-top: 550px;
}
.ed-hardy, .kat-d, .scott-c {
     height: 630px;
     width: 30%;
     margin-left: 50px;
}
.ed-hardy {
     background: url(/images/ed-hardy.jpg);
     background-repeat: no-repeat;
}
.kat-d {
     background: url(/images/kat_von_d.jpg);
     background-repeat:no-repeat;
     background-size: 700px;
}
.scott-c {
     background: url(/images/scott-campbell.jpg);
     background-repeat: no-repeat;
}
/*-------------------COUPON----------------------------------*/



section#coupon {
     width: 100%;
     height: 650px;
     border: 2px solid black;
     background: black;
     border-radius: 60% 20% 10% 20%;
     padding: 10px;
}

section#locateAnubis p {
     float: left;
}

.anubis {
     width: auto;
     height: 400px;
     margin-left: 225px;
     margin-top: 150px;
}
.offer {
     float: left;
     font-size: 1.5em;
     margin-left: 750px;
     margin-top: 70px;
}
.percentageTwo {
     font-size: 3em;
     float: left;
     margin-left: 950px;
     margin-top: -45px;
}
.string {
     margin-top: -280px;
     margin-left: 200px;
}
.appointment {
     text-decoration: none;
     margin-left: 1000px;
     font-size: 1.5em;
     border: 2px solid white;
     border-radius:25%;
     padding: 20px;
}
.appointment:hover{
     padding: 25px;
}
/*---------------------LOOKBOOK------------------------*/

section#lookbook {
     width: 100%;
     height: 980px;
     margin-top: 100px;
}
section#lookbook h2 {
     text-align: center;
     font-size:2em;
}
section#lookbook img {
     width: auto;
     height: 450px;
     float: left;
     padding-left: 20px;
     padding-bottom: 20px;
}
section#lookbook section:nth-child(5) {
     clear: both;
}
section#lookbook span {
     font-size: 15em;
     margin-left: 120px;
     line-height: 400px;
}
section#lookbook img.woman-front {
     margin-left: 250px;
}
section#lookbook img.phoenix-chest {
     margin-left: 250px;
}
section#plus {
     height: 434px;
     width: 20%;
     margin-left: 740px;
     background: black;
}
section#lookbook img.skull-arms {
     margin-left: 440px;
     margin-top: -432px;

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/  
@media only screen and (max-width:1024px){  
     nav li:nth-child(9), nav li:nth-child(7), nav li:nth-child(5), nav li:nth-child(6) {
          display: none;
     }
     #top h1, p {
          margin-left: -604px;
     }
     #top a {
          margin-left: 302px;
     }
     section.square {
          width: 40%;
          margin-left: 185px;
     }
     #top a.book {
          margin-left: -4px;
     }
     section#list {
          height: 850px;
          margin-top: 100px;
     }
     section#list section {
          height: auto;
     }
     section.three {
          margin-left: 242px;
          height: 0;
     }
     section.two {
          margin-left: 200px;
     }
     section.one {
          margin-left: 60px;
     }
     section.one span, section.two span, section.three span {
          line-height: normal;
     }
     section.one span{
          margin: 0;
     }
     section.three span {
          margin-left: 100px;
     }
     section.two span {
          margin-left:-52px;
     }
     img.machine {
          height: auto;
          width: 100%;
          margin-left: 9px;
     }
     img.chair {
          height: auto;
          width: 70%;
          margin-left: 24px;
     }
     img.shop {
          margin-top: 70px;
          margin-left: -40px;
     }
     section#about p {
          display: none;
     }
     section#about h2 {
          margin-left: 635px;
          padding-top: 184px;
     }
     nav li:nth-child(2){
          margin-left: -25px;
     }
     nav li:last-child{
          margin-left: 133px;
     }
     .ed-hardy, .kat-d, .scott-c {
          width: 31%;
          margin-left: 19px;
     }
     .ed-hardy {
          background-size: 527px;
          background-position-x: -95px;
     }
     .hardy, .von, .campbell {
          margin-left: 81px;
          font-size: 1em;
     }
     .anubis {
          width: auto;
          height: 300px;
          margin-left: 66px;
          margin-top: 210px;
     }
     .offer {
          margin-left: 419px;
          margin-top: -32px;
          font-size: 2em;
     }
     .percentageTwo {
          margin-left: 672px;
     }
     .string{
          margin-left:-437px;
          margin-top: -340px;
          font-size: 3em;
     }
     .appointment {
          margin-left: 445px;
     }
     section#lookbook img {
          height: 339px;
     }
     section#lookbook img.woman-front, section#lookbook img.phoenix-chest {
          margin-left: -7px;
     }
     section#plus {
          margin-left: 348px;
          width: 31%;
          height:319px;

     }
     section#lookbook {
          height: auto;
          margin-top: 56px;
     }
     section#lookbook img.skull-arms {
          margin-left: 659px;
          margin-top: -339px;
     }
     section#lookbook span {
          margin-left: 94px;
          line-height: 323px;
     }
}
